 
  
 
h1{
  text-align: center;color: blue;
	font-weight:1000
	background-color:blue;
	border: 1px solid powderblue
	; margin-top: 20px
}
p{
	color: blue;
	font-weight: 400

}
ol{
	border: 1px dotted black;
	padding:10px;
	width: 100px;
}

li{
	margin-left: 15px;
}
table , th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
th{
	background-color: red;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}